* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

h1,
h2,
h3,
h5 {
    font-weight: 700;
}

h4,
h6 {
    font-weight: 400;
}

body {
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

.main-container {
    background-image: url('/starter-code/assets/mobile/bg-image-daytime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    height: 100vh;
    padding: 2rem 1.625rem 2.5rem;
    height: 100vh;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.5s;

    &.show {
        transform: translateY(-256px);
    }

    &.night {
        background-image: url('/starter-code/assets/mobile/bg-image-nighttime.jpg');
    }
}

.quote-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 0.2fr 20px;
    column-gap: 10px;
    font-size: 0.75rem;
    line-height: 1.375rem;

    .random-quote {
        margin-bottom: 0.5rem;
    }

    .person {
        grid-row: 2 / 3;
    }

    .refresh-btn {
        padding: 0.5rem;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.486);
        grid-column: 2 / 3;
        align-self: start;
    }
}

.greeting {
    font-size: 0.9375rem;
    line-height: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    i {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    i.fa-moon {
        display: none;
    }

    &.night {
        i.fa-sun {
            display: none;
        }

        i.fa-moon {
            display: initial;
        }
    }

    .currently {
        display: none;
    }
}

.hour-container {
    display: grid;
    grid-template-columns: 260px 78px;
    grid-template-rows: auto;
    row-gap: 16px;
    margin-bottom: 3rem;

    .hour {
        font-size: 6.25rem;
        line-height: 6.25rem;
        letter-spacing: -2.5px;
    }

    .time-zone {
        text-transform: uppercase;
        align-self: flex-end;
        font-size: 0.9375rem;
        line-height: 1.75rem;
        grid-column: 2 / 3;
    }

    .location {
        text-transform: uppercase;
        font-size: 0.9375rem;
        line-height: 1.75rem;
        letter-spacing: 3px;
    }
}

.more-less-btn {
    .btn {
        background: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1875rem;
        padding-left: 1.0625rem;
        width: 100px;
        border-radius: 30px;
        color: #0000007e;
        font-size: 13px;
        line-height: 0.875rem;
        letter-spacing: 3.75px;
    }

    i {
        background: #000;
        color: #FFF;
        padding: 7px;
        padding-right: 4px;
        border-radius: 50%;
    }

    .less {
        display: none;
    }
}

.footer {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(255, 255, 255) 10%, rgba(151, 151, 151, 1) 100%);
    padding: 3rem 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    color: #303030;
    transition: all 0.5s;

    &.show {
        transform: translateY(-256px);
    }


    &.night {
        background: #000000b6;
        color: #FFF;
    }

    h4 {
        grid-column: 1 / 2;
        font-size: 0.625rem;
        line-height: 1.75rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5125rem;
        text-align: right;
    }
}

@media all and (min-width: 768px) {
    .main-container {
        padding: 5rem 8.1875rem 4rem 4rem;
        background-image: url(assets/tablet/bg-image-daytime.jpg);

        &.show {
            transform: translateY(-470px);
        }

        &.night {
            background-image: url(assets/tablet/bg-image-nighttime.jpg);
        }
    }

    .quote-container {
        font-size: 1.125rem;
        line-height: 28px;
        grid-auto-rows: 0.1fr 20px;

        .person {
            font-size: 1.125rem;
        }
    }

    .greeting {
        .morning-night {
            font-size: 1.125rem;
            line-height: 1.75rem;
            letter-spacing: 3.6px;
        }

        .currently {
            display: initial;
        }
    }

    .hour-container {
        grid-template-columns: 450px;

        .hour {
            font-size: 10.9375rem;
            line-height: 10.9375rem;
        }

        .time-zone {
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        .location {
            font-size: 1.125rem;
            line-height: 1.75rem;
            letter-spacing: 3.6px;
        }
    }

    .more-less-btn {
        .btn {
            font-size: 1rem;
            line-height: 1.75rem;
            letter-spacing: 5px;
            padding: 0.5rem 0.8rem;
            width: 115px;
        }

        h5 {
            margin-right: 8px;
        }
    }

    .footer {
        grid-template-rows: auto 1fr;
        padding: 7.4375rem 12.25rem 7.4375rem 4rem;

        &.show {
            transform: translateY(-470px);
        }

        h4 {
            font-size: 0.8125rem;
            letter-spacing: 2.6px;

            &:nth-of-type(even) {
                grid-column: 2 / 3;
                align-self: start;
            }

            // grid-row: 1 / 2;
        }

        p {
            text-align: left;
            font-size: 2.5rem;
            margin-bottom: 40px;

            &:nth-of-type(even) {
                grid-column: 2 / 3;
            }

            &:nth-of-type(odd) {
                grid-column: 1 / 2;
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {
                grid-row: 2 / 3;
            }

            &:nth-of-type(3),
            &:nth-of-type(4) {
                grid-row: 4 / 5;
            }
        }
    }
}

@media all and (min-width: 1440px) {

    .main-container {
        background-image: url('assets/desktop/bg-image-daytime.jpg');
        padding: 6.8% 11.45% 4%;
        position: relative;

        &.show {
            transform: translateY(-450px);
        }

        &.night {
            background-image: url('assets/desktop/bg-image-nighttime.jpg');
        }
    }

    .quote-container {
        width: 50%;

        .refresh-btn:hover {
            transition: all 0.3s;
            color: #FFFFFF;
        }
    }

    .greetin {
        .morning-night {
            font-size: 1.25rem;
            letter-spacing: 4px;
        }
    }

    .hour-container {
        grid-template-columns: 500px auto;
        width: 50%;

        .hour {
            font-size: 12.5rem;
            line-height: 12.5rem;
        }

        .time-zone {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .location {
            font-size: 1.5rem;
            letter-spacing: 4.8px;
        }
    }

    .more-less-btn {
        position: absolute;
        right: 165px;
        transition: all 0.5s;
        transform: translateY(-45px);

        i {
            transition: all 0.2s;
        }

        .btn:hover {
            i {
                background-color: #999999;
            }
        }

        &.show {
            transform: translateY(-277px);  
        }
    }

    .footer {
        padding: 4.625rem 26.9375rem 4.625rem 10.3125rem;

        &.show {
            transform: translateY(-450px);
        }

        h4 {
            font-size: 0.9375rem;
            letter-spacing: 3px;
        }

        p {
            font-size: 3.5rem;
            line-height: 67.77px;
        }
    }
}